train.csv
test.csv
data/*.csv
mysql_data/
Black Friday.zip
Data.zip
notes.txt
.Rmd
.RData
.RDataTmp
.Rhistory
.gitignore
powershell.bat
.env
__pycache__/
.pytest_cache/
logs/
*.log
legacy_project/
src/improvements_in_v2.md
src/improvements*.md
reports/
/models/
improvements_in_v2.md
docs/poc.mp4
apps/reflex_app/assets/*
reflex.lock
/apps/reflex_app/assets
implementation_plan.md
Phase1_Implementation_Plan.xlsx
*.xlsx
Phase2_Implementation_Plan.xlsx
.antigravityignore